/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

button:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
}

.spacer {
  flex: 1 1 auto;
}
.bg-danger{
  background-color: #ff1744 !important;
}

.bg-success{
  background-color: #66bb6a !important;
}

.bg-info{
  background-color: #03a9f4 !important;
}

.bg-warning{
  background-color: #ffa000 !important;
}
